@model IEnumerable<BlogMvcApp.Entity.Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container my-5">
    <h2>Blog List</h2>
    <hr />
    <p>
        @Html.ActionLink("Create New Blog", "Create", null, new { @class = "btn btn-success btn-sm" })
    </p>
    <hr />
    <table class="table table-bordered table-responsive-sm table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th style="width:135px;"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @if (item.IsHome)
                    {
                        <label class="badge badge-success">
                            <i class="fas fa-check-circle"></i> Yes
                        </label>
                    }
                    else
                    {
                        <label class="badge badge-danger">
                            <i class="fas fa-exclamation-circle"></i> No
                        </label>
                    }
                </td>
                <td>
                    @if (item.IsApproved)
                    {
                        <label class="badge badge-success">
                            <i class="fas fa-check-circle"></i> Yes
                        </label>
                    }
                    else
                    {
                        <label class="badge badge-danger">
                            <i class="fas fa-exclamation-circle"></i> No
                        </label>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </table>
</div>